@use "./variables";

header {
    background-color: variables.$tertiary;
    margin-bottom: 90px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .headerImgContainer {
        width: 45%;

        img {
            max-width: 100%;
            vertical-align: middle;
        }
    }

    .headerContent {
        width: 55%;
        color: variables.$primary;

        .contentContainer {
            margin: 0 auto;
            width: 65%;
        }
    }
}